.categories {
    margin-bottom: 88px;
}

.categories .section-title {
    width: 312px;
    margin: 88px auto 0;
}

.categories-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 64px;
}

.categories-cards .card {
    width: 312px;
    height: 220px;
    padding: 24px;
    border-radius: 16px;
    background-color: var(--background-secondary-color);
    color: var(--text-primary-color);
    text-align: center;
    box-sizing: border-box;
    text-decoration: none;
}

.categories-cards .card h3 {
    font-size: 28px;
    font-weight: var(--title-weight);
}
.categories-cards .card.single-line {
    padding-top: 50px;
}

.categories-cards .card.single-line.tranfer {
    margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
    .categories-cards .section-title{
        width: 100%;
    }

    .categories-cards {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .categories-cards .card {
        width: 430px;
    }
}

@media screen and (min-width: 1440px) {
    .categories-cards .card {
        width: 280px;
    }
}
